@font-face {
    font-family: 'Communist';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/communist.ttf');
}
@font-face {
    font-family: 'plane_icons';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/icons.ttf');
}

#wtm-wrapper h1,
#wtm-wrapper h2,
#wtm-wrapper h3,
#wtm-wrapper h4,
#wtm-wrapper h5 {
    font-weight: normal;
}
#wtm-options label {
    display: block;
}
#wtm-options label[for=units-feet],
#wtm-options label[for=units-meters] {
    display: inline;
}
#wtm-options table .text {
    position: relative;
    top: -1px;
}
#wtm-options #installed {
    margin: 1.5em 0;
    display: none;
    color: #aaa;
}
#wtm-options #goto {
    margin: 1.5em 0;
}
#wtm-options button,
#wtm-options input {
    position: relative;
}
#wtm-options #proximity_sound_file {
    width: 50em;
}
#wtm-options input[type=checkbox],
#wtm-options #test_sound,
#wtm-options input[type=text] {
    top: -2px;
}
#wtm-options table {
    border-collapse: collapse;
}
#wtm-options td {
    padding-left: 0;
}
#wtm-options .input_text {
    width: 15em;
}
#wtm-options .input_number{
    width: 3em;
}
#wtm-options #plane_icon_preview {
    font-family: 'plane_icons';
    position: absolute;
    white-space: nowrap;
    margin-left: 10px;
    margin-top: -5px;
    color: red;
    letter-spacing: .1em;
}

#wtm-wrapper #logo {
    position: absolute;
    right: 100%;
    margin-right: 20px;
    top: 0;
}
#wtm-wrapper {
    padding-top: 5px;
    position: relative;
    font-family: 'Communist', sans-serif;
    width: 500px;
    margin: auto;
    color: #333;
}
#wtm-wrapper h1 {
    border-bottom: 4px solid rgba(0, 80, 122, .15);
}
#wtm-options label[for=units-feet],
#wtm-options label[for=units-meters],
#wtm-wrapper .text {
    font-size: 12px;
}

#map-root,
#indicators-root,
#state-root,
#hud-evt-msg-root,
#hud-dmg-msg-root,
#game-chat-root,
#mission-objectives {
    display: none !important;
}


#wtm-options #show_advanced p {
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

#wtm-options tr.advanced {
    display: none;
}

#wtm-options #goto a {
    font-size: 1.15em;
}
#wtm-options #goto_link {
    position: relative;
}
#wtm-options #goto_sub {
    position: absolute;
    left: -5%;
    top: 0;
    background: #f06;
    width: 110%;
    height: 120%;
    margin-top: -5%;
    opacity: 0;
}
#wtm-options #goto {
    background: rgba(255, 255, 0, .15);
    padding: .3em .5em .2em;
    text-align: center;
}

#wtm-options a.active,
#wtm-options a:active {
    color: #f06;
}

.wtm-panel .wtm-caption {
    text-indent: .35em;
    line-height: 21px;
    height: 21px;
    width: 100%;
    color: #ddd;
    border-radius: 1px 1px 0 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606060), color-stop(100%, #555));
}

* {
    font-size: 11px;
    color: #aaa;
    line-height: 21px;
    white-space: nowrap;
    font-family: 'Consolas', 'Lucida Console', monospace;
}
#wtm-mapscale:before {
    content: 'Scale: ';
}
#wtm-mapscale:after {
    content: '\00d7';
}
#wtm-mapdimensions:before {
    content: 'Map: ';
}
#wtm-mapgrid:before {
    content: 'Grid: ';
}
#wtm-mapdimensions,
#wtm-mapgrid,
#wtm-mapscale {
    margin: 0 .7em;
}

#wtm-state-root .wtm-caption:before {
    font-weight: bold;
    content: "State";
}


#wtm-sidepanels {
    position: absolute;
    top: 5px;
    right: 5px;
}
#wtm-sidepanels .wtm-panel {
    margin-right: 5px;
    margin-bottom: 5px;

}
.wtm-panel {
    float: left;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, .1);
    background-color: rgba(128, 128, 128, .25);
    background-color: rgba(40, 40, 40, .7);
}

table.wtm-data tr:first-child th,
table.wtm-data tr:first-child td {
    border-top-style: none;
}
table.wtm-data tr:last-child th,
table.wtm-data tr:last-child td {
    border-bottom-style: none;
}
.wtm-data tr.hl {
    background: rgba(255, 255, 255, .05);
}
.wtm-data tr.hl td,
.wtm-data tr.hl th {
    border-bottom-color: rgba(255, 255, 255, .05);
}
.wtm-data tr.hl th,
.wtm-data tr.hl td {
    color: #ddd;
}
.wtm-data tr.hl td {
    font-size: 2em;
}
.wtm-data tr:hover th,
.wtm-data tr:hover td {
    border-bottom-color: rgba(255, 255, 255, .05);
}
.wtm-data tr:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .05);
}
.wtm-data {
    position: relative;
}
#map-canvas {
    cursor: -webkit-grab;
}
#map-canvas:active {
    cursor: -webkit-grabbing;
}
.wtm-data:hover:after {
    display: block;
}
.wtm-data:after {
    display: none;
    content: 'Click rows to highlight';
    position: absolute;
    top: 100%;
    left: 0;
    color: #aaa;
}
table.wtm-data th,
table.wtm-data td {
    border-color: rgba(255, 255, 255, .035);
    border-style: none;
    border-width: 1px;
    text-align: left;
    padding: 0 .35em;
    line-height: 1.5em;
}
table.wtm-data th {
    border-bottom-style: solid;
}
table.wtm-data td {
    border-left-style: solid;
    border-bottom-style: solid;
}
table.wtm-data {
    width: 300px;
    border-collapse: collapse;
    table-layout: fixed;
}
.wtm-panel .wtm-caption:before {
    font-weight: bold;
}
#wtm-indicators-root .wtm-caption:before {
    content: "Indicators"
}


#wtm-mapsummary {
    position: absolute;
    max-width: 100%;
    margin-top: 4px;
    top: 100%;
    border-collapse: collapse;
    line-height: 1em;
}
.wtm-count {
}
#wtm-redrow th {
    color: #e70000;
}
#wtm-bluerow th {
    color: #145CFF;
}
#wtm-mapsummary th.wtm-aircraft {
    font-family: 'plane_icons';
}
#wtm-mapsummary td {
    font-size: 11px;
}
#wtm-mapsummary th {
    font-family: 'Icons';
    font-size: 26px;
    padding: 0 2px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}
#draghandle {
    cursor: default !important;
}
#wtm-map {
    border: 1px solid #555;
    border-top-style: none;
    border-radius: 0 0 1px 1px;
}
#map-canvas {
    display: block;
}
#wtm-map-root:after {
    position: absolute;
    content: 'Use the mouse wheel to change the zoom level';
    top: 100%;
    right: 0;
    display: none;
    color: #aaa;
}
#wtm-map-root:hover:after {
    display: block;
}

.wtm-toggle {
    white-space: nowrap;
    float: right;
    padding-left: 1em;
}
.wtm-toggle input {
    margin: 0 5px 0 3px;
    position: relative;
    top: 2px;
}
.wtm-toggle label {
}
.wtm-panel.off .wtm-caption {
    border-radius: 1px;
}
.wtm-panel.off .wtm-panel-contents {
    display: none;
}

body {
    margin: 5px;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 100% 0;
}

#wtm-map-root {
    position: relative;
}

#wtm-mapinfo {
    float: right;
}
#wtm-mapinfo,
.wtm-toggle {
    color: #aaa;
}