@font-face {
    font-family: 'Communist';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/communist.ttf');
}
@font-face {
    font-family: 'plane_icons';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/icons.ttf');
}

#wtm-wrapper h1,
#wtm-wrapper h2,
#wtm-wrapper h3,
#wtm-wrapper h4,
#wtm-wrapper h5 {
    font-weight: normal;
}
#wtm-options label {
    display: block;
}
#wtm-options label[for=units-feet],
#wtm-options label[for=units-meters] {
    display: inline;
}
#wtm-options table .text {
    position: relative;
    top: -1px;
}
#wtm-options #installed {
    margin: 1.5em 0;
    display: none;
    color: #aaa;
}
#wtm-options #goto {
    margin: 1.5em 0;
}
#wtm-options button,
#wtm-options input {
    position: relative;
}
#wtm-options #proximity_sound_file {
    width: 50em;
}
#wtm-options input[type=checkbox],
#wtm-options #test_sound,
#wtm-options input[type=text] {
    top: -2px;
}
#wtm-options table {
    border-collapse: collapse;
}
#wtm-options td {
    padding-left: 0;
}
#wtm-options .input_text {
    width: 15em;
}
#wtm-options .input_number{
    width: 3em;
}
#wtm-options #plane_icon_preview {
    font-family: 'plane_icons';
    position: absolute;
    white-space: nowrap;
    margin-left: 10px;
    margin-top: -5px;
    color: red;
    letter-spacing: .1em;
}

#wtm-wrapper #logo {
    position: absolute;
    right: 100%;
    margin-right: 20px;
    top: 0;
}
#wtm-wrapper {
    padding-top: 5px;
    position: relative;
    font-family: 'Communist', sans-serif;
    width: 500px;
    margin: auto;
    color: #333;
}
#wtm-wrapper h1 {
    border-bottom: 4px solid rgba(0, 80, 122, .15);
}
#wtm-options label[for=units-feet],
#wtm-options label[for=units-meters],
#wtm-wrapper .text {
    font-size: 12px;
}

#hud-evt-msg-root,
#hud-dmg-msg-root,
#game-chat-root,
#mission-objectives {
    display: none !important;
}


#wtm-options #show_advanced p {
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

#wtm-options tr.advanced {
    display: none;
}

#wtm-options #goto a {
    font-size: 1.15em;
}
#wtm-options #goto_link {
    position: relative;
}
#wtm-options #goto_sub {
    position: absolute;
    left: -5%;
    top: 0;
    background: #f06;
    width: 110%;
    height: 120%;
    margin-top: -5%;
    opacity: 0;
}
#wtm-options #goto {
    background: rgba(255, 255, 0, .15);
    padding: .3em .5em .2em;
    text-align: center;
}

#wtm-options a.active,
#wtm-options a:active {
    color: #f06;
}


#map-root #draghandle {
    text-align: right;
}

#state-root #draghandle,
#hud-evt-msg-root #draghandle,
#hud-dmg-msg-root #draghandle,
#indicators-root #draghandle,
#map-root #draghandle {
    text-indent: .35em;
}
#wtm-mapsummary td,
table.wtm-data,
#state-root #draghandle,
#hud-evt-msg-root #draghandle,
#hud-dmg-msg-root #draghandle,
#indicators-root #draghandle,
#map-root #draghandle {
    font-size: 11px;
    color: #aaa;
    line-height: 20px;
    white-space: nowrap;
    font-family: 'Consolas', 'Lucida Console', monospace;
}
#game-chat-root #draghandle,
#hud-evt-msg-root #draghandle,
#hud-dmg-msg-root #draghandle,
#state-root #draghandle,
#indicators-root #draghandle {
    line-height: 21px;
    color: #ddd;
}
#wtm-mapscale:before {
    content: 'Scale: ';
}
#wtm-mapscale:after {
    content: '\00d7';
}
#wtm-mapdimensions:before {
    content: 'Map: ';
}
#wtm-mapgrid:before {
    content: 'Grid: ';
}
#wtm-mapdimensions,
#wtm-mapgrid,
#wtm-mapscale {
    margin: 0 .7em;
}

#state-root #draghandle:before {
    content: "State"
}
#indicators-root {
    top: 5px !important;
}
table.wtm-data tr:first-child th,
table.wtm-data tr:first-child td {
    border-top-style: none;
}
table.wtm-data tr:last-child th,
table.wtm-data tr:last-child td {
    border-bottom-style: none;
}
table.wtm-data th,
table.wtm-data td {
    border-color: rgba(255, 255, 255, .035);
    border-style: none;
    border-width: 1px;
    text-align: left;
    padding: 0 .35em;
    line-height: 1.5em;
}
table.wtm-data th {
    border-bottom-style: solid;
}
table.wtm-data td {
    border-left-style: solid;
    border-bottom-style: solid;
}
#state-root ul,
#indicators-root ul {
    display: none;
}
table.wtm-data {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
#indicators-root #draghandle:before {
    content: "Indicators"
}

#map-root {
    border-style: none !important;
}
#indicators-root .caption,
#map-root .caption,
#state-root .caption {
    border-radius: 1px 1px 0 0;
    display: block;
}
#indicators-root,
#map-root,
#state-root {
    display: block !important;
    border-radius: 1px;
}

#wtm-mapsummary {
    position: absolute;
    max-width: 100%;
    margin-top: 5px;
    top: 100%;
    border-collapse: collapse;
    line-height: 1em;
}
.wtm-count {
}
#wtm-redrow th {
    color: #e70000;
}
#wtm-bluerow th {
    color: #145CFF;
}
#wtm-mapsummary th.wtm-aircraft {
    font-family: 'plane_icons';
}
#wtm-mapsummary th {
    font-family: 'Icons';
    font-size: 25px;
    padding: 0 2px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}